venv
*.pyc
*.json

# hide 
agents/TDZeroApproxAgent/*.json

# ignore everything in original 2048 repo except javascript changes
!2048/js/

pytorch-neat/neat/experiments/gameof2048/checkpoints/*

# checkpoints for model
nets/checkpoints/*
!nets/checkpoints/.gitkeep

nets/logs/*
!nets/logs/.gitkeep


nets/data/*
!nets/data/format.py
